In [1]:
import pandas as pd

# Step 1: Read the Excel file
excel_path = r"C:\Users\timon\OneDrive\Jyothi\Skills\GitHub\bcg-genai-financial-chatbot\data\raw\financial_data_raw.xlsx"

df = pd.read_excel(excel_path)

# Step 2: Save it as CSV
csv_path = r"C:\Users\timon\OneDrive\Jyothi\Skills\GitHub\bcg-genai-financial-chatbot\data\raw\financial_data_raw.csv"

df.to_csv(csv_path, index=False)

print("Excel successfully converted to CSV!")

Excel successfully converted to CSV!

In [2]:
# Load the CSV file
csv_path = r"C:\Users\timon\OneDrive\Jyothi\Skills\GitHub\bcg-genai-financial-chatbot\data\raw\financial_data_raw.csv"

df = pd.read_csv(csv_path)

df.head()

,Company,Year,Total Revenue,Net Income,Total Assets,Total Liabilities,Cash Flow from Operating Activities
0,Microsoft,2025,281724,101832,619003,275524,136162
1,Microsoft,2024,245122,88136,512163,243686,118548
2,Microsoft,2023,211915,72361,411976,205753,87582
3,Tesla,2025,94827,3794,137806,54941,13256
4,Tesla,2024,97690,7091,122070,48390,13456

In [8]:
df.columns

Index(['Company ', 'Year ', 'Total Revenue', ' Net Income ', 'Total Assets',
       ' Total Liabilities', 'Cash Flow from Operating Activities'],
      dtype='str')

In [9]:
# Remove leading/trailing spaces from all column names
df.columns = df.columns.str.strip()

# Check again to confirm
df.columns

Index(['Company', 'Year', 'Total Revenue', 'Net Income', 'Total Assets',
       'Total Liabilities', 'Cash Flow from Operating Activities'],
      dtype='str')

In [10]:
df = df.sort_values(by=["Company", "Year"])

df

,Company,Year,Total Revenue,Net Income,Total Assets,Total Liabilities,Cash Flow from Operating Activities
8,Apple,2023,383285,96995,352583,290437,110543
7,Apple,2024,391035,93736,364980,308030,118254
6,Apple,2025,416161,112010,359241,285508,111482
2,Microsoft,2023,211915,72361,411976,205753,87582
1,Microsoft,2024,245122,88136,512163,243686,118548
0,Microsoft,2025,281724,101832,619003,275524,136162
5,Tesla,2023,96773,14997,106618,43009,13256
4,Tesla,2024,97690,7091,122070,48390,13456
3,Tesla,2025,94827,3794,137806,54941,13256

In [11]:
# Calculate Revenue Growth (%)
df['Revenue Growth (%)'] = df.groupby('Company')['Total Revenue'].pct_change() * 100

# Calculate Net Income Growth (%)
df['Net Income Growth (%)'] = df.groupby('Company')['Net Income'].pct_change() * 100

df

,Company,Year,Total Revenue,Net Income,Total Assets,Total Liabilities,Cash Flow from Operating Activities,Revenue Growth (%),Net Income Growth (%)
8,Apple,2023,383285,96995,352583,290437,110543,NaN,NaN
7,Apple,2024,391035,93736,364980,308030,118254,2.021994,-3.359967
6,Apple,2025,416161,112010,359241,285508,111482,6.425512,19.495178
2,Microsoft,2023,211915,72361,411976,205753,87582,NaN,NaN
1,Microsoft,2024,245122,88136,512163,243686,118548,15.669962,21.800417
0,Microsoft,2025,281724,101832,619003,275524,136162,14.932156,15.539621
5,Tesla,2023,96773,14997,106618,43009,13256,NaN,NaN
4,Tesla,2024,97690,7091,122070,48390,13456,0.947578,-52.717210
3,Tesla,2025,94827,3794,137806,54941,13256,-2.930699,-46.495558

In [12]:
df['Asset Growth (%)'] = df.groupby('Company')['Total Assets'].pct_change() * 100
df['Liability Growth (%)'] = df.groupby('Company')['Total Liabilities'].pct_change() * 100
df['Cash Flow Growth (%)'] = df.groupby('Company')['Cash Flow from Operating Activities'].pct_change() * 100

df

,Company,Year,Total Revenue,Net Income,Total Assets,Total Liabilities,Cash Flow from Operating Activities,Revenue Growth (%),Net Income Growth (%),Asset Growth (%),Liability Growth (%),Cash Flow Growth (%)
8,Apple,2023,383285,96995,352583,290437,110543,NaN,NaN,NaN,NaN,NaN
7,Apple,2024,391035,93736,364980,308030,118254,2.021994,-3.359967,3.516052,6.057424,6.975566
6,Apple,2025,416161,112010,359241,285508,111482,6.425512,19.495178,-1.572415,-7.311625,-5.726656
2,Microsoft,2023,211915,72361,411976,205753,87582,NaN,NaN,NaN,NaN,NaN
1,Microsoft,2024,245122,88136,512163,243686,118548,15.669962,21.800417,24.318650,18.436183,35.356580
0,Microsoft,2025,281724,101832,619003,275524,136162,14.932156,15.539621,20.860546,13.065174,14.858117
5,Tesla,2023,96773,14997,106618,43009,13256,NaN,NaN,NaN,NaN,NaN
4,Tesla,2024,97690,7091,122070,48390,13456,0.947578,-52.717210,14.492862,12.511335,1.508751
3,Tesla,2025,94827,3794,137806,54941,13256,-2.930699,-46.495558,12.890964,13.537921,-1.486326

# Financial Trend Analysis (2023â€“2025)

## Apple
- Revenue shows steady growth, with stronger acceleration in 2025.
- Net income declined slightly in 2024 but rebounded strongly in 2025.
- Assets and liabilities fluctuated slightly in 2025.
- Cash flow from operations slightly decreased in 2025.

## Microsoft
- Strong and consistent revenue growth across all years.
- Net income shows strong upward trend.
- Assets and liabilities increased steadily.
- Cash flow from operations shows healthy expansion.

## Tesla
- Revenue growth slowed and turned negative in 2025.
- Net income declined sharply in both 2024 and 2025.
- Assets and liabilities continued to grow.
- Cash flow remained relatively stable but slightly declined in 2025.

## Overall Observations
- Microsoft shows the most consistent and stable growth.
- Apple shows moderate growth with slight volatility.
- Tesla shows profitability challenges despite asset growth.